{% extends "layout.html" %}

{% block page_title %}
	{{ parent() }}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span10">
				<div class="hero-unit">
					<h1>What is Lorem Ipsum</h1>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</div>			
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="well">
					<h2>Left Column</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar porttitor leo, ac suscipit nunc pellentesque eu. Nullam dapibus, odio sit amet vestibulum euismod, erat leo pharetra ligula, in interdum nulla diam quis risus. Nullam urna augue, tempus vel posuere ac, bibendum vel quam. Mauris dignissim, est non consequat blandit, nunc sapien pulvinar ipsum, at posuere tortor nisi vitae sapien. Suspendisse vitae rutrum urna. Cras adipiscing condimentum tortor sit amet gravida. Mauris enim mi, hendrerit quis adipiscing vitae, venenatis et nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi ante nunc, venenatis in consequat quis, consectetur vitae libero. Praesent lectus dui, rhoncus nec semper eu, vehicula tincidunt lectus. In sagittis posuere est sed vestibulum. Suspendisse at vehicula diam. Aliquam sit amet massa arcu. Suspendisse suscipit nunc ut orci feugiat et fringilla sem fringilla.</p>
				</div>
			</div>
			<div class="span4">
				<div class="well">
					<h2>Middle Column</h2>
					<p>Proin in scelerisque quam. Aenean vel libero id ligula dignissim lobortis vitae ac dui. Ut aliquam est tortor. Curabitur vel augue id nisi lacinia semper. Nulla urna velit, adipiscing tempus sodales non, euismod eu nisi. Duis libero justo, posuere nec bibendum ut, ullamcorper vitae leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer semper pretium nibh, eget rhoncus sem pharetra sit amet. Nunc tempor eros id risus dignissim ut aliquam nunc placerat. Phasellus ut purus enim, id semper nisi. Aenean scelerisque lorem id mi placerat scelerisque.</p>
				</div>
			</div>
			<div class="span4">
				<div class="well">
					<h2>Right Column</h2>
					<p>Nulla facilisi. Aenean lobortis pretium odio at tempus. Quisque tellus massa, lobortis eu convallis tempus, vulputate sed eros. Vestibulum pharetra venenatis purus, sed aliquam dolor posuere quis. Vestibulum adipiscing suscipit neque id malesuada. Vivamus iaculis lobortis arcu a elementum. Pellentesque purus est, lacinia at suscipit sit amet, ultrices sed enim. Aenean pretium nisi sed lorem posuere tincidunt. Praesent nec condimentum quam. Nulla facilisi. Aliquam sit amet dui diam, at semper ligula. Suspendisse vel gravida massa. Vivamus sodales nisl eu massa facilisis suscipit. Donec fringilla bibendum ante, eget eleifend mi rhoncus vitae.</p>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
