
$baseFontSize:          12px !default;

// ----------------------------------------
// Sprite icon paths
$iconSpritePath:          "/images/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "/images/glyphicons-halflings-white.png" !default;